---
interface Props {
  title: string;
}
const { title } = Astro.props;
---

<head>
  <meta charset="UTF-8" />
  <meta
    name="description"
    content="¡Feliz Halloween!, Enjoy this magical night."
  />
  <meta name="viewport" content="width=device-width" />
  <script is:inline src="/scripts/gsap.min.js"></script>
  <link rel="icon" type="image/svg+xml" href="/favicon.png" />
  <title>{title}</title>
</head>
